#!/usr/bin/make -f
#
# Created 5 January 1998 by Enrique Zanardi <ezanardi@ull.es>
#
# Copying and modification is unlimited, provided that the modified
# version is marked as being modified.

ARCH = $(shell dpkg --print-gnu-build-architecture)

PACKAGE=popt
tmpdir=$(shell pwd)/debian/tmp
docdir=$(tmpdir)/usr/doc/$(PACKAGE)

ifeq (ARCH,"alpha")
        LIBCDEV=libc6.1-dev
else
        LIBCDEV=libc6-dev
endif

build:
	$(checkdir)
	./configure --prefix=/usr
	make 
	touch build

clean:
	$(checkdir)
	if [ -f Makefile ]; then make squeaky ; fi
	rm -rf build $(tmpdir) debian/files debian/substvars config.cache

binary: binary-indep binary-arch

binary-indep:
	true

binary-arch: build checkroot
	$(checkdir)
	-[ -d $(tmpdir) ] && rm -rf $(tmpdir)

	make PREFIX=$(tmpdir) install
	
	install -d -m 755 $(docdir)
	install -m 644 debian/changelog $(docdir)/changelog.Debian
	install -m 644 README popt.ps $(docdir)
	gzip -9 $(docdir)/*
	install -m 644 debian/copyright $(docdir)/

	install -d -m 755 $(tmpdir)/DEBIAN
	dpkg-gencontrol -P$(tmpdir) -p$(PACKAGE) -Vlibcdev=$(LIBCDEV)

	chmod -R go=rX $(tmpdir)
	chown -R root.root $(tmpdir)
	dpkg --build $(tmpdir) ..

define checkdir
	test -f popt.h
endef

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	[ `whoami` = root ]

.PHONY: binary-arch clean source diff checkroot binary binary-indep
